


@media only screen and (max-width:1200px){
    .hero-text-box {
        width:100%;
        padding: 0 2%;
    }
    .row {padding: 0 2%;}
    .long-copy {text-align: justify;}
    .main-nav { display: inline-block;}

}


@media only screen and (max-width:1023px){
    
    body{ font-size: 18px;}
    section { padding: 60px 0; }
    .long-copy {
        width: 80%;
        margin-left: 10%;
    }
    .app-screen { width: 50%; margin-top: -10px;}
     steps-box { margin: 10px;}
    .steps-box:last-child { margin-top: 10px; }
    .works-step { margin-bottom: 40px;}
    .works-step:last-of-type { margin-bottom: 60px; }
    .btn-app img {margin:0 auto;}
    
    .icon-small { 
        width: 17px;
        margin-right: 5px;
    }
    
    .city-feature { font-size: 90%; }
    
    .plan-box {
        width: 100%;
        margin-left: 0%;
    }
    
    .plan-price { font-size: 200%; }
    .contact-form { width: 80%; }

}


@media only screen and (max-width:767px){
    div .col { width: 100%; padding: 0 0 4% 0; margin: 0 auto;}

    body{ font-size: 16px;}
    section { padding: 30px 0; }
   
    .row,
    .hero-text-box {
        padding: 0 5%;
    }
    
    .main-nav { display: none;}
    h1 { font-size: 180%; }
    h2 { font-size: 150%; }
    
    .long-copy {
        width: 100%;
        margin-left: 0%;
    }
    .works-step p {padding-top: 7px;}
    .app-screen { width: 40%; }
    .steps-box:first-child { text-align: center; }
    
    .works-step div {
        height: 40px;
        width: 40px;
        margin-right: 15px;
        padding: 4px;
        font-size: 120%;
    }
    
    .works-step { margin-bottom: 20px; }
    .works-step:last-of-type { margin-bottom: 20px; }
    
    .social-links {float: left; padding-top: 20px;}
}

  



@media only screen and(max-width:480px){
     section { padding: 25px 0; }
    .contact-form {width: 100%; }
    
}